*{margin:0;padding:0;}
body{font-family:'微软雅黑';background-color:#f3f3f3;}
a{text-decoration:none;outline:none;}
a:hover{text-decoration:underline;}
a:active{outline:none;}
li{list-style:none;}
img{border:none;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;overflow:hidden;height:1px;}
.w1000{width:1000px; overflow:hidden;margin:0 auto;}

.head{height:60px;background-color:#e5e4e0;opacity:0.7;filter:alpha(opacity=70);position:fixed;top:0;left:0;padding-top:18px;width:100%;z-index:9999;}
.head a{display:inline-block;float:left;}
.head a span{font-size:0;display:none;}
.head .lk{width:165px;height:45px;}
.head .logo,.head .logo0{background:url(../images/logo.png);}
.head .menu{float:right;*width:420px;}
.head .menu a{width:70px;height:20px;padding-top:30px;text-align:center;font-size:14px;color:#a0a0a0;}
.head .menu a{background-image:url(../images/menuall.png);background-repeat:no-repeat;}
.head .menu0{background-position:0 -600px;}
.head .menu .cur0{background-position:0 0;color:#EE9AAB;}
.head .menu1{background-position:0 -700px;}
.head .menu .cur1{background-position:0 -100px;color:#6FC8EA;}
.head .menu2{background-position:0 -800px;}
.head .menu .cur2{background-position:0 -200px;color:#A5D28D;}
.head .menu3{background-position:0 -900px;}
.head .menu .cur3{background-position:0 -300px;color:#F5E577;}
.head .menu4{background-position:0 -1000px;}
.head .menu .cur4{background-position:0 -400px;color:#C6A1C8;}
.head .menu5{background-position:0 -1100px;}
.head .menu .cur5{background-position:0 -500px;color:#7B7B7B;}

.page{width:100%;padding-top: 80px;}
.main{width:1000px; height: 7420px; overflow:hidden;margin:0 auto; background: url("../images/bg.jpg") repeat-x;}
.line{width: 1000px; height:80px; background: url("../images/line.png") no-repeat center; border: 0px solid #000000;}

.pic1{width: 1000px; height:547px; background: url("../images/pic1.png") no-repeat; border: 0px solid #000000;}
.pic2{width: 1000px; height:122px; background: url("../images/pic2.png") no-repeat; border: 0px solid #000000;}
.pic3{width: 1000px; height:520px; background: url("../images/pic3.png") no-repeat; border: 0px solid #000000;}
.pic4{width: 1000px; height:263px; background: url("../images/pic4.png") no-repeat; border: 0px solid #000000;}
.pic5{width: 1000px; height:729px; background: url("../images/pic5.png") no-repeat; border: 0px solid #000000;}
.pic6{width: 1000px; height:179px; background: url("../images/pic6.png") no-repeat; border: 0px solid #000000;}
.pic7{width: 1000px; height:620px; background: url("../images/pic7.png") no-repeat; border: 0px solid #000000;}
.pic8{width: 1000px; height:295px; background: url("../images/pic8.png") no-repeat; border: 0px solid #000000;}
.pic9{width: 1000px; height:690px; background: url("../images/pic9.png") no-repeat; border: 0px solid #000000;}
.pic10{width: 1000px; height:349px; background: url("../images/pic10.png") no-repeat; border: 0px solid #000000;}
.pic11{width: 1000px; height:264px; background: url("../images/pic11.png") no-repeat; border: 0px solid #000000;}
.pic12{width: 1000px; height:272px; background: url("../images/pic12.png") no-repeat; border: 0px solid #000000;}
.pic13{width: 1000px; height:349px; background: url("../images/pic13.png") no-repeat; border: 0px solid #000000;}
.pic14{width: 1000px; height:412px; background: url("../images/pic14.png") no-repeat; border: 0px solid #000000;}
.pic15{width: 1000px; height:511px; background: url("../images/pic15.png") no-repeat; border: 0px solid #000000;}
.pic16{width: 1000px; height:245px; background: url("../images/pic16.png") no-repeat; border: 0px solid #000000;}
.pic17{width: 1000px; height:418px; background: url("../images/pic17.png") no-repeat; border: 0px solid #000000;}
.pic18{width: 1000px; height:170px; background: url("../images/pic18.png") no-repeat; border: 0px solid #000000;}

.white{color: #ffffff;}
.yellow{color: #ffff00;}
.bold{font-weight: bold;}
.size30{font-size: 30px;}
.text2{width: 1000px; text-align: center; font-size: 24px; color: #ffffff; padding-top: 30px;}
.text4{font-size: 24px; color: #ffffff; padding-left: 20px;}
.text6_l{width: 600px; font-size: 22px; color: #ffffff; border: 0px solid #000000; padding-left: 44px; float: left;}
.text6_r{width: 300px; font-size: 24px; color: #ffffff; border: 0px solid #000000; padding-left: 30px; float: left;}
.text8{width: 412px; font-size: 24px; color: #ffffff; border: 0px solid #000000; padding-left: 10px; float: left;}
.pic9 .title{color: #ffffff; padding-top: 14px; font-size: 22px; height:32px;}
.pic9 .text{color: #ffffff; padding-left: 10px; font-size: 14px;}
.pic11 .title{color: #ffffff; padding-top: 14px; font-size: 22px; height:32px;}
.pic11 .text{color: #ffffff; padding-left: 2px; font-size: 20px;}
.text12{width: 370px; height:250px; padding-top:20px; padding-left:80px; color: #ffffff; border: 0px solid #000000;}
.text15{width: 500px; font-size: 18px; color: #000; padding-left: 100px; padding-top: 20px; float: left;}